---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';

import { Code } from '@astrojs/starlight/components';

import { Image } from 'astro:assets';
import { getAssetImagePath } from '@src/utils/general';

import { boneMap } from '@src/data/bones';

let luaTable = `local boneIDs = {\n`;
Object.entries(boneMap).forEach(([id], index) => {
    luaTable += `${id}`;
    if ((index + 1) % 8 === 0) {
        luaTable += `\n`;
    } else {
        luaTable += `, `;
    }
});
luaTable += `}`;

let luaTableNames = `local boneNames = {\n`;
Object.entries(boneMap).forEach(([id, name]) => {
    luaTableNames += `[${id}] = "${name}",\n`;
});
luaTableNames += `}`;


---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'Bone IDs',
    tableOfContents: false,
}}>
    <p>List of all ped <strong>Bone IDs</strong> that can be used with functions such as <a href="/reference/getElementBonePosition">getElementBonePosition</a>.</p>

    <div class="bonesbox">
        <ul>
            {Object.entries(boneMap).map(([id, name]) => (
                <li>
                    <strong>{id}</strong> - <code>{name}</code>
                </li>
            ))}
        </ul>

        <Image class="bonesimage" src={getAssetImagePath("Bones/bone_ids.webp")} alt="Labeled Bone IDs" width="150"/>
    </div>

    <section data-pagefind-ignore>
        <h4>Lua tables of these Bone IDs:</h4>
        <Code lang="lua" code={luaTable}/>
        <Code lang="lua" code={luaTableNames}/>
    </section>

    <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
        'reference:ID_Lists',
    ])} currentId='' />
</StarlightPage>

<style>
    .bonesbox {
        margin-top: 2rem;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        gap: 2rem;
    }
    .bonesimage {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    .bonesbox ul {
        list-style-type: none;
        padding: 0;
    }

    .bonesbox li {
        margin-bottom: 0.5rem;
    }
</style>