---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';

import { Code } from '@astrojs/starlight/components';

import { damageTypesById } from '@src/data/damage_types';

let luaTable = `local damageTypes = {\n`;
Object.entries(damageTypesById).forEach(([id, { type, info }], index) => {
    luaTable += `\t[${id}] = "${type}"`;
    if (info) {
        luaTable += `, -- ${info}`;
    }
    luaTable += `\n`;
});
luaTable += `}`;

---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'Damage Types',
    tableOfContents: false,
}}>
    <p>The following damage types are used by events like <a href="/reference/onPlayerDamage">onPlayerDamage</a> or <a href="/reference/onPlayerWasted">onPlayerWasted</a> for the weapon argument to describe the reason, why a ped has been damaged or died.</p>
    
    <p>When a player was shot by a weapon, the respective weapon ID is the damage type ID. The weapon IDs can be found <a href="/reference/ID_Lists/Weapons">here</a>.</p>
    <table class="damage-types-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Damage Type</th>
                <th>Additional Info</th>
            </tr>
        </thead>
        <tbody>
            {Object.entries(damageTypesById).map(([id, { type, info }]) => (
                <tr>
                    <td>{id}</td>
                    <td>{type}</td>
                    <td>{info || ''}</td>
                </tr>
            ))}
        </tbody>
    </table>
    
    <section data-pagefind-ignore>
        <h4>Damage types in a Lua table:</h4>
        <Code lang="lua" code={luaTable}/>
    </section>

    <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
        'reference:ID_Lists',
    ])} currentId='' />
</StarlightPage>

<style>
    .damage-types-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
</style>