---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';

import { interiors } from '@src/data/interiors';

---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'Interiors',
    tableOfContents: false,
}}>
    <p>List of San Andreas Interior IDs. Related functions: <a href="/reference/setElementInterior">setElementInterior</a> and <a href="/reference/getElementInterior">getElementInterior</a></p>
    <br>

    <!-- Display one table per ID -->
    {Object.entries(interiors).map(([id, interiorsList]) => (
        <div class="interior-list">
            <h4 id={"id-"+id}>ID {id}</h4>
            <table class="interior-table">
                <thead>
                    <tr>
                        <th>Interior Name</th>
                        <th>X</th>
                        <th>Y</th>
                        <th>Z</th>
                    </tr>
                </thead>
                <tbody>
                    {interiorsList.map(interior => (
                        <tr>
                            <td>{interior.name}</td>
                            <td><code>{interior.x.toFixed(3)}</code></td>
                            <td><code>{interior.y.toFixed(3)}</code></td>
                            <td><code>{interior.z.toFixed(3)}</code></td>
                        </tr>
                    ))}
                </tbody>
            </table>
        </div>
    ))}


    <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
        'reference:ID_Lists',
    ])} currentId='' />
</StarlightPage>

<style>
  .interior-list {
    margin-bottom: 2rem;
    border: 1px solid var(--sl-color-gray-3);
    padding: 1rem;
  }
  .interior-table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
  }
  .interior-list h4 {
    margin: 0;
  }
</style>