---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";

import { getSeeAlsoLinksFromList } from "@src/utils/general";
import SeeAlsoSection from "@src/components/SeeAlsoSection.astro";

import { Code } from "@astrojs/starlight/components";
import NoteBox from "@src/components/NoteBox.astro";

import { materials } from "@src/data/materials";

// Group materials by category
const materialsByCategory: Record<string, typeof materials> = {};
materials.forEach((material) => {
  if (!materialsByCategory[material.category]) {
    materialsByCategory[material.category] = [];
  }
  materialsByCategory[material.category].push(material);
});

// Sort categories alphabetically
const sortedCategories = Object.keys(materialsByCategory).sort();

// Generate Lua table
let luaTable = `local materials = {\n`;
materials.forEach((material) => {
  luaTable += `\t[${material.id}] = "${material.name}", -- ${material.category}\n`;
});
luaTable += `}`;
---

<StarlightPage
  frontmatter={{
    template: "doc",
    title: "Surface Materials",
    tableOfContents: false,
  }}
>
  <p>
    This is a list San Andreas surface materials that are initialized in the
    game's <code>surfinfo.dat</code> file. These IDs can be used with functions such
    as <a href="/reference/engineSetSurfaceProperties"
      >engineSetSurfaceProperties</a
    >.
  </p>
  <!-- The sounds of walking on each surface are available on the Collision surface sounds page -->

  <p>
    The group names and readable material names have been extracted from
    <a href="https://www.gtagarage.com/mods/show.php?id=1154"
      >Collision File Editor II by Steve M.</a
    >
  </p>

  <NoteBox type="tip"
    >Even though many surfaces have the same sound, they have different physical
    properties. For example, water (shallow) causes a splashing effect when
    walking.</NoteBox
  >

  {
    sortedCategories.map((category) => (
      <section>
        <h3>{category}</h3>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            {materialsByCategory[category].map((material) => (
              <tr>
                <td>
                  <code>{material.id}</code>
                </td>
                <td>{material.name}</td>
              </tr>
            ))}
          </tbody>
        </table>
      </section>
    ))
  }

  <section data-pagefind-ignore>
    <h4>All materials in a Lua table:</h4>
    <Code lang="lua" code={luaTable} />
  </section>

  <SeeAlsoSection
    seeAlsoLinks={getSeeAlsoLinksFromList(["reference:ID_Lists"])}
    currentId=""
  />
</StarlightPage>
