---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';

import { Code } from '@astrojs/starlight/components';

import { Image } from 'astro:assets';
import { getAssetImagePath } from '@src/utils/general';

import NoteBox from '@src/components/NoteBox.astro';

const vehicles = {
  "Aircraft": {
    "Airplanes": [
      { id: 592, name: "Andromada", modelName: "androm" },
      { id: 577, name: "AT-400", modelName: "at400" },
      { id: 511, name: "Beagle", modelName: "beagle" },
      { id: 512, name: "Cropduster", modelName: "cropdust" },
      { id: 593, name: "Dodo", modelName: "dodo" },
      { id: 520, name: "Hydra", modelName: "hydra" },
      { id: 553, name: "Nevada", modelName: "nevada" },
      { id: 476, name: "Rustler", modelName: "rustler" },
      { id: 519, name: "Shamal", modelName: "shamal" },
      { id: 460, name: "Skimmer", modelName: "skimmer" },
      { id: 513, name: "Stuntplane", modelName: "stunt" },
    ],
    "Helicopters": [
      { id: 548, name: "Cargobob", modelName: "cargobob" },
      { id: 425, name: "Hunter", modelName: "hunter" },
      { id: 417, name: "Leviathan", modelName: "leviathn" },
      { id: 487, name: "Maverick", modelName: "maverick" },
      { id: 488, name: "News Chopper", modelName: "vcnmav" },
      { id: 497, name: "Police Maverick", modelName: "polmav" },
      { id: 563, name: "Raindance", modelName: "raindanc" },
      { id: 447, name: "Seasparrow", modelName: "seaspar" },
      { id: 469, name: "Sparrow", modelName: "sparrow" },
    ],
  },
  "Boats": {
    "Uncategorized": [
      { id: 472, name: "Coastguard", modelName: "coastg" },
      { id: 473, name: "Dinghy", modelName: "dinghy" },
      { id: 493, name: "Jetmax", modelName: "jetmax" },
      { id: 595, name: "Launch", modelName: "launch" },
      { id: 484, name: "Marquis", modelName: "marquis" },
      { id: 430, name: "Predator", modelName: "predator" },
      { id: 453, name: "Reefer", modelName: "reefer" },
      { id: 452, name: "Speeder", modelName: "speeder" },
      { id: 446, name: "Squalo", modelName: "squalo" },
      { id: 454, name: "Tropic", modelName: "tropic" },
    ],
  },
  "Land vehicles": {
    "Bikes": [
      { id: 581, name: "BF-400", modelName: "bf400" },
      { id: 509, name: "Bike", modelName: "bike" },
      { id: 481, name: "BMX", modelName: "bmx" },
      { id: 462, name: "Faggio", modelName: "faggio" },
      { id: 521, name: "FCR-900", modelName: "fcr900" },
      { id: 463, name: "Freeway", modelName: "freeway" },
      { id: 510, name: "Mountain Bike", modelName: "mtbike" },
      { id: 522, name: "NRG-500", modelName: "nrg500" },
      { id: 461, name: "PCJ-600", modelName: "pcj600" },
      { id: 448, name: "Pizzaboy", modelName: "pizzaboy" },
      { id: 468, name: "Sanchez", modelName: "sanchez" },
      { id: 586, name: "Wayfarer", modelName: "wayfarer" },
    ],
    "2-Door & Compact cars": [
      { id: 602, name: "Alpha", modelName: "alpha" },
      { id: 496, name: "Blista Compact", modelName: "blistac" },
      { id: 401, name: "Bravura", modelName: "bravura" },
      { id: 518, name: "Buccaneer", modelName: "buccanee" },
      { id: 527, name: "Cadrona", modelName: "cadrona" },
      { id: 589, name: "Club", modelName: "club" },
      { id: 419, name: "Esperanto", modelName: "esperant" },
      { id: 587, name: "Euros", modelName: "euros" },
      { id: 533, name: "Feltzer", modelName: "feltzer" },
      { id: 526, name: "Fortune", modelName: "fortune" },
      { id: 474, name: "Hermes", modelName: "hermes" },
      { id: 545, name: "Hustler", modelName: "hustler" },
      { id: 517, name: "Majestic", modelName: "majestic" },
      { id: 410, name: "Manana", modelName: "manana" },
      { id: 600, name: "Picador", modelName: "picador" },
      { id: 436, name: "Previon", modelName: "previon" },
      { id: 439, name: "Stallion", modelName: "stallion" },
      { id: 549, name: "Tampa", modelName: "tampa" },
      { id: 491, name: "Virgo", modelName: "virgo" },
    ],
    "4-Door & Luxury cars": [
      { id: 445, name: "Admiral", modelName: "admiral" },
      { id: 604, name: "Damaged Glendale", modelName: "glenshit" },
      { id: 507, name: "Elegant", modelName: "elegant" },
      { id: 585, name: "Emperor", modelName: "emperor" },
      { id: 466, name: "Glendale", modelName: "glendale" },
      { id: 492, name: "Greenwood", modelName: "greenwoo" },
      { id: 546, name: "Intruder", modelName: "intruder" },
      { id: 551, name: "Merit", modelName: "merit" },
      { id: 516, name: "Nebula", modelName: "nebula" },
      { id: 467, name: "Oceanic", modelName: "oceanic" },
      { id: 426, name: "Premier", modelName: "premier" },
      { id: 547, name: "Primo", modelName: "primo" },
      { id: 405, name: "Sentinel", modelName: "sentinel" },
      { id: 580, name: "Stafford", modelName: "stafford" },
      { id: 409, name: "Stretch", modelName: "stretch" },
      { id: 550, name: "Sunrise", modelName: "sunrise" },
      { id: 566, name: "Tahoma", modelName: "tahoma" },
      { id: 540, name: "Vincent", modelName: "vincent" },
      { id: 421, name: "Washington", modelName: "washing" },
      { id: 529, name: "Willard", modelName: "willard" },
    ],
    "Civil service": [
      { id: 485, name: "Baggage", modelName: "baggage" },
      { id: 431, name: "Bus", modelName: "bus" },
      { id: 438, name: "Cabbie", modelName: "cabbie" },
      { id: 437, name: "Coach", modelName: "coach" },
      { id: 574, name: "Sweeper", modelName: "sweeper" },
      { id: 420, name: "Taxi", modelName: "taxi" },
      { id: 525, name: "Towtruck", modelName: "towtruck" },
      { id: 408, name: "Trashmaster", modelName: "trash" },
      { id: 552, name: "Utility Van", modelName: "utility" },
    ],
    "Government vehicles": [
      { id: 416, name: "Ambulance", modelName: "ambulan" },
      { id: 433, name: "Barracks", modelName: "barracks" },
      { id: 427, name: "Enforcer", modelName: "enforcer" },
      { id: 490, name: "FBI Rancher", modelName: "fbiranch" },
      { id: 528, name: "FBI Truck", modelName: "fbitruck" },
      { id: 407, name: "Fire Truck", modelName: "firetruk" },
      { id: 544, name: "Fire Truck", modelName: "firela" },
      { id: 523, name: "HPV1000", modelName: "copbike" },
      { id: 470, name: "Patriot", modelName: "patriot" },
      { id: 596, name: "Police LS", modelName: "copcarla" },
      { id: 598, name: "Police LV", modelName: "copcarvg" },
      { id: 599, name: "Police Ranger", modelName: "copcarru" },
      { id: 597, name: "Police SF", modelName: "copcarsf" },
      { id: 432, name: "Rhino", modelName: "rhino" },
      { id: 601, name: "S.W.A.T.", modelName: "swatvan" },
      { id: 428, name: "Securicar", modelName: "securica" },
    ],
    "Heavy & Utility trucks": [
      { id: 499, name: "Benson", modelName: "benson" },
      { id: 609, name: "Boxville Mission", modelName: "boxburg" },
      { id: 498, name: "Boxville", modelName: "boxville" },
      { id: 524, name: "Cement Truck", modelName: "cement" },
      { id: 532, name: "Combine Harvester", modelName: "combine" },
      { id: 578, name: "DFT-30", modelName: "dft30" },
      { id: 486, name: "Dozer", modelName: "dozer" },
      { id: 406, name: "Dumper", modelName: "dumper" },
      { id: 573, name: "Dune", modelName: "duneride" },
      { id: 455, name: "Flatbed", modelName: "flatbed" },
      { id: 588, name: "Hotdog", modelName: "hotdog" },
      { id: 403, name: "Linerunner", modelName: "linerun" },
      { id: 423, name: "Mr. Whoopee", modelName: "mrwhoop" },
      { id: 414, name: "Mule", modelName: "mule" },
      { id: 443, name: "Packer", modelName: "packer" },
      { id: 515, name: "Roadtrain", modelName: "rdtrain" },
      { id: 514, name: "Tanker", modelName: "petro" },
      { id: 531, name: "Tractor", modelName: "tractor" },
      { id: 456, name: "Yankee", modelName: "yankee" },
    ],
    "Light trucks & Vans": [
      { id: 459, name: "Berkley's RC Van", modelName: "topfun" },
      { id: 422, name: "Bobcat", modelName: "bobcat" },
      { id: 482, name: "Burrito", modelName: "burrito" },
      { id: 605, name: "Damaged Sadler", modelName: "sadlshit" },
      { id: 530, name: "Forklift", modelName: "forklift" },
      { id: 418, name: "Moonbeam", modelName: "moonbeam" },
      { id: 572, name: "Mower", modelName: "mower" },
      { id: 582, name: "News Van", modelName: "newsvan" },
      { id: 413, name: "Pony", modelName: "pony" },
      { id: 440, name: "Rumpo", modelName: "rumpo" },
      { id: 543, name: "Sadler", modelName: "sadler" },
      { id: 583, name: "Tug", modelName: "tug" },
      { id: 478, name: "Walton", modelName: "walton" },
      { id: 554, name: "Yosemite", modelName: "yosemite" },
    ],
    "SUVs & Wagons": [
      { id: 579, name: "Huntley", modelName: "huntley" },
      { id: 400, name: "Landstalker", modelName: "landstal" },
      { id: 404, name: "Perennial", modelName: "peren" },
      { id: 489, name: "Rancher", modelName: "rancher" },
      { id: 505, name: "Rancher Lure", modelName: "rnchlure" },
      { id: 479, name: "Regina", modelName: "regina" },
      { id: 442, name: "Romero", modelName: "romero" },
      { id: 458, name: "Solair", modelName: "solair" },
    ],
    "Lowriders": [
      { id: 536, name: "Blade", modelName: "blade" },
      { id: 575, name: "Broadway", modelName: "broadway" },
      { id: 534, name: "Remington", modelName: "remingtn" },
      { id: 567, name: "Savanna", modelName: "savanna" },
      { id: 535, name: "Slamvan", modelName: "slamvan" },
      { id: 576, name: "Tornado", modelName: "tornado" },
      { id: 412, name: "Voodoo", modelName: "voodoo" },
    ],
    "Muscle cars": [
      { id: 402, name: "Buffalo", modelName: "buffalo" },
      { id: 542, name: "Clover", modelName: "clover" },
      { id: 603, name: "Phoenix", modelName: "phoenix" },
      { id: 475, name: "Sabre", modelName: "sabre" },
    ],
    "Street racers": [
      { id: 429, name: "Banshee", modelName: "banshee" },
      { id: 541, name: "Bullet", modelName: "bullet" },
      { id: 415, name: "Cheetah", modelName: "cheetah" },
      { id: 480, name: "Comet", modelName: "comet" },
      { id: 562, name: "Elegy", modelName: "elegy" },
      { id: 565, name: "Flash", modelName: "flash" },
      { id: 434, name: "Hotknife", modelName: "hotknife" },
      { id: 494, name: "Hotring Racer", modelName: "hotring" },
      { id: 502, name: "Hotring Racer 2", modelName: "hotrina" },
      { id: 503, name: "Hotring Racer 3", modelName: "hotrinb" },
      { id: 411, name: "Infernus", modelName: "infernus" },
      { id: 559, name: "Jester", modelName: "jester" },
      { id: 561, name: "Stratum", modelName: "stratum" },
      { id: 560, name: "Sultan", modelName: "sultan" },
      { id: 506, name: "Super GT", modelName: "supergt" },
      { id: 451, name: "Turismo", modelName: "turismo" },
      { id: 558, name: "Uranus", modelName: "uranus" },
      { id: 555, name: "Windsor", modelName: "windsor" },
      { id: 477, name: "ZR-350", modelName: "zr350" },
    ],
    "RC Vehicles": [
      { id: 441, name: "RC Bandit", modelName: "rcbandit" },
      { id: 464, name: "RC Baron", modelName: "rcbaron" },
      { id: 594, name: "RC Cam", modelName: "rccam" },
      { id: 501, name: "RC Goblin", modelName: "rcgoblin" },
      { id: 465, name: "RC Raider", modelName: "rcraider" },
      { id: 564, name: "RC Tiger", modelName: "rctiger" },
    ],
    "Trailers": [
      { id: 606, name: "Baggage Trailer", modelName: "bagboxa" },
      { id: 607, name: "Baggage Trailer", modelName: "bagboxb" },
      { id: 610, name: "Farm Trailer", modelName: "farmtr1" },
      { id: 584, name: "Petrol trailer", modelName: "petrotr" },
      { id: 611, name: "Trailer", modelName: "utiltr1" },
      { id: 608, name: "Trailer", modelName: "tugstair" },
      { id: 435, name: "Trailer 1", modelName: "artict1" },
      { id: 450, name: "Trailer 2", modelName: "artict2" },
      { id: 591, name: "Trailer 3", modelName: "artict3" },
    ],
    "Trains & Railroad cars": [
      { id: 590, name: "Box Freight", modelName: "freibox" },
      { id: 538, name: "Brown Streak", modelName: "streak" },
      { id: 570, name: "Brown Streak Carriage", modelName: "streakc" },
      { id: 569, name: "Flat Freight", modelName: "freiflat" },
      { id: 537, name: "Freight", modelName: "freight" },
      { id: 449, name: "Tram", modelName: "tram" },
    ],
  },
  "Recreational": {
    "Uncategorized": [
      { id: 568, name: "Bandito", modelName: "bandito" },
      { id: 424, name: "BF Injection", modelName: "bfinject" },
      { id: 504, name: "Bloodring Banger", modelName: "bloodra" },
      { id: 457, name: "Caddy", modelName: "caddy" },
      { id: 483, name: "Camper", modelName: "camper" },
      { id: 508, name: "Journey", modelName: "journey" },
      { id: 571, name: "Kart", modelName: "kart" },
      { id: 500, name: "Mesa", modelName: "mesa" },
      { id: 444, name: "Monster", modelName: "monster" },
      { id: 556, name: "Monster 2", modelName: "monstera" },
      { id: 557, name: "Monster 3", modelName: "monsterb" },
      { id: 471, name: "Quadbike", modelName: "quad" },
      { id: 495, name: "Sandking", modelName: "sandking" },
      { id: 539, name: "Vortex", modelName: "vortex" },
    ],
  },
};

---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'Vehicles',
    tableOfContents: false,
}}>
  <p>This is a list of GTA:SA's vehicle ID numbers, as listed in the <code>vehicles.ide</code> game file.</p>
  <p>These vehicle ID numbers are used for several <a href="/reference/Scripting_Functions#Vehicle">vehicle scripting functions</a>.</p>
  <NoteBox type='warning'>Every vehicle has a <strong>model name</strong> (according to game files), which is not the same as the <strong>vehicle name</strong> (displayed in HUD when you enter a vehicle) used in scripting functions. For example, the vehicle name for ID <code>400</code> is <code>Landstalker</code>, and its model name is <code>landstal</code>.</NoteBox>
  <NoteBox type='tip'><strong>Tip</strong>: Click on any model image to view the vehicle in 3D.</NoteBox>
  <NoteBox type='tip'><strong>Tip</strong>: Use your browser's search function (<strong>Ctrl+F or Cmd+F</strong>) to quickly find a vehicle by name or ID.</NoteBox>

  <h5>Table of Contents</h5>
  <span>Vehicles:</span>
  <ul>
      {Object.keys(vehicles).map(category => (
          <li>
              <a href={`#${category}`}>{category}</a>
              <ul>
                  {Object.keys(vehicles[category]).map(subcategory => (
                      <>
                          {subcategory !== 'Uncategorized' && (
                              <li>
                                  <a href={`#${subcategory}`}>{subcategory}</a>
                              </li>
                          )}
                      </>
                  ))}
              </ul>
          </li>
      ))}
  </ul>
  <span>Lua tables:</span>
  <ul>
      <li><a href="#lua-all">All valid vehicle IDs listed here</a></li>
      <li><a href="#lua-names">All vehicle names</a></li>
      <li><a href="#lua-model-names">All vehicle model names</a></li>
      <li><a href="#lua-no-lock">Vehicles that are not lockable</a></li>
      <li><a href="#lua-no-plate">Vehicles without number plates</a></li>
      <li><a href="#lua-3-colors">Vehicles that support up to 3 different colors</a></li>
      <li><a href="#lua-no-siren">Vehicles that don't support siren lights</a></li>
      <li><a href="#lua-no-engine">Vehicles that don't have an engine</a></li>
      <li><a href="#lua-2-doors">Vehicles with 2 physically enterable doors</a></li>
      <li><a href="#lua-4-doors">Vehicles with 4 physically enterable doors</a></li>
  </ul>

  <div class="vehicle-othercategory">
    <h3 class="vehicle-category-othertitle">Specification</h3>
    <div class="vehicle-list">
      <div class="vehicle-item">
          <div class="vehicle-title">Vehicle Name</div>
          <a target="_blank" href={`http://gta.rockstarvision.com/vehicleviewer/#sa`}>
          Preview Image
          </a>
          <div class="vehicle-details"><code>ID</code><br><code>Model Name</code></div>
      </div>
    </div>

    <p><strong>Vehicle Name</strong>: The friendly capitalized name of the vehicle model, which can be used in functions such as <a href="/reference/getVehicleName">getVehicleName</a>, <a href="/reference/getVehicleNameFromModel">getVehicleNameFromModel</a> and <a href="/reference/getVehicleModelFromName">getVehicleModelFromName</a>.</p>
    <p><strong>Preview Image</strong>: A small picture of the vehicle in-game, wrapped in a link to the Vehicle 3D Model viewer site.</p>
    <p><strong>ID</strong>: The numeric model identifier, which can be used in functions such as <a href="/reference/getVehicleNameFromModel">getVehicleNameFromModel</a>, <a href="/reference/getVehicleModelFromName">getVehicleModelFromName</a>, <a href="/reference/createVehicle">createVehicle</a>, <a href="/reference/setElementModel">setElementModel</a> and <a href="/reference/getElementModel">getElementModel</a>.</p>
    <p><strong>Model Name</strong>: The name of the vehicle model (<code>DFF</code> and <code>TXD</code> files in <code>gta3.img</code>), which is mainly useful for modding purposes (e.g. <code>glenshit</code>).</p>
  </div>

  {Object.entries(vehicles).map(([category, subcategories]) => (
      <div class="vehicle-category" id={category}>
          <h3 class="vehicle-category-title">{category}</h3>
          {
              Object.entries(subcategories).map(([subcategory, vehiclesList]) => (
                  <div class="vehicle-subcategory" id={subcategory}>
                      {subcategory !== 'Uncategorized' && (
                          <h4 class="vehicle-subcategory-title">{subcategory}</h4>
                      )}
                      <div class="vehicle-list">
                      {vehiclesList.map(vehicle => (
                          <div class="vehicle-item" id={vehicle.name}>
                              <div class="vehicle-title">{vehicle.name}</div>
                              <a target="_blank" href={`http://gta.rockstarvision.com/vehicleviewer/#sa/${vehicle.id}`}>
                                  <Image
                                      src={getAssetImagePath(`Vehicles/${vehicle.id}.png`)}
                                      alt={vehicle.name}
                                      class="vehicle-image"
                                  />
                              </a>
                              <div class="vehicle-details"><code>{vehicle.id}</code><br><code>{vehicle.modelName}</code></div>
                          </div>
                      ))}
                      </div>
                  </div>
              ))
          }
      </div>
  ))}

  <section data-pagefind-ignore>
    <h5>Lua tables:</h5>
        
    <details id="lua-all">
      <summary>All valid vehicle IDs listed on this page</summary>
      <Code lang="lua" code={`
vehicleIds = {
	400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
	416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433,
	434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451,
	452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469,
	470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487,
	488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505,
	506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523,
	524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541,
	542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
	560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577,
	578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595,
	596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611
}`}/>
      </details>

      <details id="lua-names">
        <summary>All vehicle names</summary>
        <Code lang="lua" code={`
-- (when indexing just do a <vehicle model id you want the name of> - 399 to get the name)
vehicleNames = {
	"Landstalker", "Bravura", "Buffalo", "Linerunner", "Perennial", "Sentinel", "Dumper", "Fire Truck", "Trashmaster", "Stretch", "Manana", 
	"Infernus", "Voodoo", "Pony", "Mule", "Cheetah", "Ambulance", "Leviathan", "Moonbeam", "Esperanto", "Taxi", "Washington", "Bobcat", 
	"Mr. Whoopee", "BF Injection", "Hunter", "Premier", "Enforcer", "Securicar", "Banshee", "Predator", "Bus", "Rhino", "Barracks", "Hotknife", 
	"Trailer 1", "Previon", "Coach", "Cabbie", "Stallion", "Rumpo", "RC Bandit", "Romero", "Packer", "Monster", "Admiral", "Squalo", 
	"Seasparrow", "Pizzaboy", "Tram", "Trailer 2", "Turismo", "Speeder", "Reefer", "Tropic", "Flatbed", "Yankee", "Caddy", "Solair", 
	"Berkley's RC Van", "Skimmer", "PCJ-600", "Faggio", "Freeway", "RC Baron", "RC Raider", "Glendale", "Oceanic", "Sanchez", "Sparrow", "Patriot", 
	"Quadbike", "Coastguard", "Dinghy", "Hermes", "Sabre", "Rustler", "ZR-350", "Walton", "Regina", "Comet", "BMX", "Burrito", "Camper", "Marquis", 
	"Baggage", "Dozer", "Maverick", "News Chopper", "Rancher", "FBI Rancher", "Virgo", "Greenwood", "Jetmax", "Hotring Racer", "Sandking", 
	"Blista Compact", "Police Maverick", "Boxville", "Benson", "Mesa", "RC Goblin", "Hotring Racer 2", "Hotring Racer 3", "Bloodring Banger", 
	"Rancher Lure", "Super GT", "Elegant", "Journey", "Bike", "Mountain Bike", "Beagle", "Cropduster", "Stuntplane", "Tanker", "Roadtrain", "Nebula", 
	"Majestic", "Buccaneer", "Shamal", "Hydra", "FCR-900", "NRG-500", "HPV1000", "Cement Truck", "Towtruck", "Fortune", "Cadrona", "FBI Truck", 
	"Willard", "Forklift", "Tractor", "Combine Harvester", "Feltzer", "Remington", "Slamvan", "Blade", "Freight", "Brown Streak", "Vortex", "Vincent", 
	"Bullet", "Clover", "Sadler", "Fire Truck Ladder", "Hustler", "Intruder", "Primo", "Cargobob", "Tampa", "Sunrise", "Merit", "Utility Van", 
	"Nevada", "Yosemite", "Windsor", "Monster 2", "Monster 3", "Uranus", "Jester", "Sultan", "Stratum", "Elegy", "Raindance", "RC Tiger", "Flash", 
	"Tahoma", "Savanna", "Bandito", "Freight Train Flatbed", "Streak Train Trailer", "Kart", "Mower", "Dune", "Sweeper", "Broadway", "Tornado", 
	"AT-400", "DFT-30", "Huntley", "Stafford", "BF-400", "Newsvan", "Tug", "Trailer (Tanker Commando)", "Emperor", "Wayfarer", "Euros", "Hotdog", 
	"Club", "Box Freight", "Trailer 3", "Andromada", "Dodo", "RC Cam", "Launch", "Police LS", "Police SF", "Police LV", "Police Ranger", 
	"Picador", "S.W.A.T.", "Alpha", "Phoenix", "Glendale Damaged", "Sadler Damaged", "Baggage Trailer (covered)", 
	"Baggage Trailer (Uncovered)", "Trailer (Stairs)", "Boxville Mission", "Farm Trailer", "Street Clean Trailer"
}`}/>
      </details>

      <details id="lua-model-names">
        <summary>All vehicle model names</summary>
        <Code lang="lua" code={`
-- (when indexing just do a <vehicle model id you want the name of> - 399 to get the model name)
vehicleModelNames {
	"landstal", "bravura", "buffalo", "linerun", "peren", "sentinel", "dumper", "firetruk", "trash", "stretch", "manana", "infernus", "voodoo", "pony", "mule", "cheetah", "ambulan", "leviathn", "moonbeam", "esperant", "taxi", "washing", "bobcat", "mrwhoop", "bfinject", "hunter", "premier", "enforcer", "securica", "banshee", "predator", "bus", "rhino", "barracks", "hotknife", "artict1", "previon", "coach", "cabbie", "stallion", "rumpo", "rcbandit", "romero", "packer", "monster", "admiral", "squalo", "seaspar", "pizzaboy", "tram", "artict2", "turismo", "speeder", "reefer", "tropic", "flatbed", "yankee", "caddy", "solair", "topfun", "skimmer", "pcj600", "faggio", "freeway", "rcbaron", "rcraider", "glendale", "oceanic", "sanchez", "sparrow", "patriot", "quad", "coastg", "dinghy", "hermes", "sabre", "rustler", "zr350", "walton", "regina", "comet", "bmx", "burrito", "camper", "marquis", "baggage", "dozer", "maverick", "vcnmav", "rancher", "fbiranch", "virgo", "greenwoo", "jetmax", "hotring", "sandking", "blistac", "polmav", "boxville", "benson", "mesa", "rcgoblin", "hotrina", "hotrinb", "bloodra", "rnchlure", "supergt", "elegant", "journey", "bike", "mtbike", "beagle", "cropdust", "stunt", "petro", "rdtrain", "nebula", "majestic", "buccanee", "shamal", "hydra", "fcr900", "nrg500", "copbike", "cement", "towtruck", "fortune", "cadrona", "fbitruck", "willard", "forklift", "tractor", "combine", "feltzer", "remingtn", "slamvan", "blade", "freight", "streak", "vortex", "vincent", "bullet", "clover", "sadler", "firela", "hustler", "intruder", "primo", "cargobob", "tampa", "sunrise", "merit", "utility", "nevada", "yosemite", "windsor", "monstera", "monsterb", "uranus", "jester", "sultan", "stratum", "elegy", "raindanc", "rctiger", "flash", "tahoma", "savanna", "bandito", "freiflat", "streakc", "kart", "mower", "duneride", "sweeper", "broadway", "tornado", "at400", "dft30", "huntley", "stafford", "bf400", "newsvan", "tug", "petrotr", "emperor", "wayfarer", "euros", "hotdog", "club", "freibox", "artict3", "androm", "dodo", "rccam", "launch", "copcarla", "copcarsf", "copcarvg", "copcarru", "picador", "swatvan", "alpha", "phoenix", "glenshit", "sadlshit", "bagboxa", "bagboxb", "tugstair", "boxburg", "farmtr1", "utiltr1"
}`}/>
    </details>

    <details id="lua-no-lock">
      <summary>Vehicles that are not lockable</summary>
        <Code lang="lua" code={`
nonLockableVehicles = {
	594, 606, 607, 611, 584, 608, 435, 450, 591, 539, 441, 464, 501, 465, 564, 472, 473, 493, 595, 484, 430, 453, 452, 446, 454, 581, 509, 481,
	462, 521, 463, 510, 522, 461, 448, 468, 586, 425, 520
}`}/>
    </details>

    <details id="lua-no-plate">
        <summary>Vehicles that do not have number plates</summary>
        <Code lang="lua" code={`
noNumberPlates = {
	592, 553, 577, 488, 511, 497, 548, 563, 512, 476, 593, 447, 425, 519, 520, 460, 417, 469, 487, 513, 509, 481, 510, 472, 473, 493, 595, 484,
	430, 453, 452, 446, 454
}`}/>
    </details>

    <details id="lua-3-colors">
      <summary>Vehicles that support up to 3 different colors</summary>
        <Code lang="lua" code={`
maxColorVehicles = {
	483, 524, 446
}`}/>
    </details>

    <details id="lua-no-siren">
        <summary>Vehicles that do not support siren lights</summary>
        <Code lang="lua" code={`
noSirenLights = {
	400, 401, 402, 403, 404, 405, 406, 417, 420, 423, 425, 430, 432, 433, 435, 438, 441, 446, 447, 448, 452, 453, 454, 460, 461, 462, 463, 464,
	465, 468, 469, 472, 473, 476, 481, 484, 487, 488, 493, 497, 501, 509, 510, 511, 512, 513, 519, 520, 521, 522, 523, 528, 537, 538, 539, 544,
	548, 553, 563, 564, 569, 570, 577, 581, 586, 590, 592, 593, 595, 600, 601, 602, 603, 604, 605, 606, 607, 608, 610, 611
}`}/>
    </details>

    <details id="lua-no-engine">
        <summary>Vehicles that do not have an engine</summary>	
        <Code lang="lua" code={`
noEngineVehicles = { -- such as bicycles and trailers
	481, 509, 510, 606, 607, 608, 610, 611, 435, 450, 584, 591, 590, 569, 570, 594
}`}/>
    </details>

    <details id="lua-2-doors">
        <summary>Vehicles with 2 physically enterable doors</summary>
        <Code lang="lua" code={`
twoDoorVehicles = { -- boats and bikes not included
	592, 577, 511, 512, 593, 460, 548, 417, 488, 563, 447, 469,
	602, 496, 401, 518, 527, 589, 419, 587, 533, 526, 474, 545, 517, 410, 600, 436, 439, 549, 491,
	431, 525, 408, 552,
	433, 528, 407, 544, 599, 601,
	499, 524, 578, 573, 455, 403, 423, 414, 443, 515, 514, 456,
	422, 605, 543, 478, 554,
	489, 505, 442,
	536, 575, 534, 535, 576, 412,
	402, 542, 603, 475,
	429, 541, 415, 480, 562, 565, 434, 494, 502, 503, 411, 559, 506, 451, 558, 555, 477,
	538, 537,
	424, 504, 483, 508, 500, 444, 556, 557, 495,
}`}/>
    </details>

    <details id="lua-4-doors">
      <summary>Vehicles with 4 physically enterable doors</summary>
        <Code lang="lua" code={`
fourDoorVehicles = { -- boats and bikes not included
	487, 497,
	445, 604, 507, 585, 466, 492, 546, 551, 516, 467, 426, 547, 405, 580, 409, 550, 566, 540, 421, 529,
	438, 420,
	416, 427, 490, 470, 596, 597, 598, 428,
	609, 498, 
	459, 482, 418, 582, 413, 440,
	579, 400, 404, 479, 458,
	567,
	561, 560,
}`}/>
    </details>

  </section>

  <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
      'reference:ID_Lists',
      'reference:vehicle',
      'external:Web Vehicle 3D Model Viewer:http://gta.rockstarvision.com/vehicleviewer/#sa'
  ])} currentId='' />
</StarlightPage>

<style>
    .vehicle-category {
        border: 1px solid var(--color-mta-orange);
        padding: 1rem;
    }
    .vehicle-othercategory {
        border: 1px solid var(--sl-color-accent);
        padding: 1rem;
    }
    .vehicle-category-title {
        padding-top: 0;
        border-bottom: 3px solid var(--color-mta-orange);
    }
    .vehicle-category-othertitle {
        padding-top: 0;
        border-bottom: 3px solid var(--sl-color-accent);
    }
    .vehicle-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 0.2rem;
        align-items: flex-start;
        text-align: center;
    }
    @media (max-width: 600px) {
        /* Align the list items */
        .vehicle-list {
            justify-content: center;
        }
        /* Align the titles */
        .vehicle-category-title,
        .vehicle-category-othertitle,
        .vehicle-subcategory-title {
            text-align: center;
        }
    }
    .vehicle-subcategory-title {
        border-bottom: 1px solid var(--color-mta-orange);
    }
    .vehicle-item {
        padding: 0.2rem;
        margin: 0;
        border: 1px solid var(--sl-color-gray-4);
        width: 100px;
        font-size: 0.7rem;
    }
    .vehicle-item code {
      font-size: 0.7rem;
    }
    .vehicle-item .vehicle-title {
        margin-bottom: 1rem;
    }
    .vehicle-item .vehicle-details {
        margin-top: 1rem;
    }
    .vehicle-item .vehicle-image {
        width: 90px;
        height: 32px;
        object-fit: contain;
        margin: 0 auto;
    }
</style>