---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';

import { Code } from '@astrojs/starlight/components';

import { Image } from 'astro:assets';
import { getAssetImagePath } from '@src/utils/general';

import { variantsById, luaTable } from '@src/data/variants';

---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'Vehicle Variants',
    tableOfContents: false,
}}>
    <p>
        Vehicle variants can be anything from different adverts to additional parts of the model.
        Related functions: <a href="/reference/setVehicleVariant">setVehicleVariant</a>, <a href="/reference/getVehicleVariant">getVehicleVariant</a> and <a href="/reference/createVehicle">createVehicle</a>.
    </p>
    
    <h3>Adding Variants</h3>
    <p>Adding variants requires modifying your <a href="https://gta.fandom.com/wiki/DFF" target="_blank">DFF</a> by adding a part of the model you wish to be a variant and naming it <strong>extra1</strong>, <strong>extra2</strong>, <strong>extra3</strong>, <strong>extra4</strong>, or <strong>extra5</strong> then setting its parent to the <strong>chassis_dummy</strong>; this tells GTA it has variant information.</p>

    <h3>Spawning Custom Variants</h3>
    <p>To spawn custom variants is to implicitly specify which variants you want in <a href="/reference/createVehicle">createVehicle</a>, or change the variant of an already existing vehicle using <a href="/reference/setVehicleVariant">setVehicleVariant</a>. Also, any invalid variant will show up as the default model with no variation.</p>

    <h2>GTA: San Andreas Vehicle Variants List</h2>
    <table class="variants-table">
        <thead>
            <tr>
                <th>Vehicle</th>
                <th>Name</th>
                <th>ID</th>
                <th>Variants</th>
            </tr>
        </thead>
        <tbody>
            {Object.entries(variantsById).map(([id, { vehicleName, variants }]) => (
                <tr>
                    <td><a href={`/reference/ID_Lists/Vehicles#${vehicleName}`}><Image
                        src={getAssetImagePath(`Vehicles/${id}.png`)}
                        alt={vehicleName}
                        class="vehicle-image"
                    /></a></td>
                    <td>{vehicleName}</td>
                    <td>{id}</td>
                    <td><code>{variants}</code></td>
                </tr>
            ))}
        </tbody>
    </table>
    
    <section data-pagefind-ignore>
        <p>Above table serialized in Lua:</p>
        <Code code={luaTable} lang="lua" />
    </section>

    <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
        'reference:ID_Lists',
    ])} currentId='' />
</StarlightPage>

<style>
    .variants-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
</style>