---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';

import { Code } from '@astrojs/starlight/components';

import { Image } from 'astro:assets';
import { getAssetImagePath } from '@src/utils/general';

import { paintjobsById } from '@src/data/paintjobs';

let luaTable = `local vehiclePaintjobs = {`;
Object.entries(paintjobsById).forEach(([id, { vehicleName, paintjobs }]) => {
  luaTable += `\n  [${id}] = {${paintjobs.join(', ')}}, -- ${vehicleName}`;
});
luaTable += `\n}\n`;


---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'Vehicle Paintjobs',
    tableOfContents: false,
}}>
    <p>
        Paintjobs can be applied on a vehicle using <a href="/reference/setVehiclePaintjob">setVehiclePaintjob</a>.</p>
        <p>To remove a paintjob from a vehicle, apply paintjob number <code>3</code> to it.
    </p>
    <table class="paintjobs-table"
        <thead>
            <tr>
                <th>Vehicle</th>
                <th>Name</th>
                <th>ID</th>
                <th>Paintjobs</th>
            </tr>
        </thead>
        <tbody>
            {Object.entries(paintjobsById).map(([id, { vehicleName, paintjobs }]) => (
                <tr>
                    <td><a href={`/reference/ID_Lists/Vehicles#${vehicleName}`}><Image
                        src={getAssetImagePath(`Vehicles/${id}.png`)}
                        alt={vehicleName}
                        class="vehicle-image"
                    /></a></td>
                    <td>{vehicleName}</td>
                    <td>{id}</td>
                    <td><code>{paintjobs.join(', ')}</code></td>
                </tr>
            ))}
        </tbody>
    </table>

    <section data-pagefind-ignore>
        <p>Above list serialized in Lua:</p>
        <Code code={luaTable} lang="lua" />
    </section>

    <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
        'reference:ID_Lists',
    ])} currentId='' />
</StarlightPage>

<style>
    .paintjobs-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    .vehicle-image {
        width: 80px;
        height: auto;
    }
</style>