---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';

import { Code } from '@astrojs/starlight/components';

const paintjobsById = {
  536: { vehicleName: "Blade", paintjobs: [0,1,2] },
  575: { vehicleName: "Broadway", paintjobs: [0,1] },
  483: { vehicleName: "Camper", paintjobs: [0] },
  562: { vehicleName: "Elegy", paintjobs: [0,1,2] },
  565: { vehicleName: "Flash", paintjobs: [0,1,2] },
  559: { vehicleName: "Jester", paintjobs: [0,1,2] },
  534: { vehicleName: "Remington", paintjobs: [0,1,2] },
  567: { vehicleName: "Savanna", paintjobs: [0,1,2] },
  535: { vehicleName: "Slamvan", paintjobs: [0,1,2] },
  560: { vehicleName: "Sultan", paintjobs: [0,1,2] },
  576: { vehicleName: "Tornado", paintjobs: [0,1,2] },
  558: { vehicleName: "Uranus", paintjobs: [0,1,2] },
};

let luaTable = `local vehiclePaintjobs = {`;
Object.entries(paintjobsById).forEach(([id, { vehicleName, paintjobs }]) => {
  luaTable += `\n  [${id}] = {${paintjobs.join(', ')}}, -- ${vehicleName}`;
});
luaTable += `\n}\n`;


---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'Vehicle Paintjobs',
    tableOfContents: false,
}}>
    <p>
        Paintjobs can be applied on a vehicle using <a href="/reference/setVehiclePaintjob">setVehiclePaintjob</a>.</p>
        <p>To remove a paintjob from a vehicle, apply paintjob number <code>3</code> to it.
    </p>
    <table>
        <thead>
            <tr>
                <th>Vehicle Name</th>
                <th>Vehicle ID</th>
                <th>Paintjobs</th>
            </tr>
        </thead>
        <tbody>
            {Object.entries(paintjobsById).map(([id, { vehicleName, paintjobs }]) => (
                <tr>
                    <td>{vehicleName}</td>
                    <td>{id}</td>
                    <td>{paintjobs.join(', ')}</td>
                </tr>
            ))}
        </tbody>
    </table>
    <p>Above list serialized in Lua:</p>

    <Code code={luaTable} lang="lua" />

    <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
        'reference:ID_Lists',
    ])} currentId='' />
</StarlightPage>
