---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';

import { Code } from '@astrojs/starlight/components';

import { vendingMachines } from '@src/data/vending_machines';

// { modelID, name, x, y, z, rotZ }
let luaTable = `local vendingMachines = {`;
vendingMachines.forEach((machine, index) => {
    luaTable += `\n    { modelID = ${machine.modelId}, name = "${machine.name}", x = ${machine.x}, y = ${machine.y}, z = ${machine.z}, rotZ = ${machine.rotZ} }`;
    if (index < vendingMachines.length - 1) {
        luaTable += ',';
    }
});
luaTable += `\n}\n`;


---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'Vending Machines',
    tableOfContents: false,
}}>
    <p>List of San Andreas Vending machine locations (each vending machine is an object):</p>
    <table class="vending-table">
        <thead>
            <tr>
                <th>Model ID</th>
                <th>Model Name</th>
                <th>X</th>
                <th>Y</th>
                <th>Z</th>
                <th>Rot Z</th>
            </tr>
        </thead>
        <tbody>
            {vendingMachines.map(machine => (
                <tr>
                    <td>{machine.modelId}</td>
                    <td>{machine.name}</td>
                    <td>{machine.x}</td>
                    <td>{machine.y}</td>
                    <td>{machine.z}</td>
                    <td>{machine.rotZ}</td>
                </tr>
            ))}
        </tbody>
    </table>

    <section data-pagefind-ignore>
        <p>Above list serialized in Lua:</p>
        <Code code={luaTable} lang="lua" />
    </section>

    <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
        'reference:ID_Lists',
    ])} currentId='' />
</StarlightPage>

<style>
    .vending-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
</style>