---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';

import { Code } from '@astrojs/starlight/components';

const vendingMachines = [
  { modelId: 1302, name: "vendmachfd", x: -2420.18, y: 985.945, z: 44.2969, rotZ: -90.0 },
  { modelId: 1209, name: "vendmach", x: -2420.22, y: 984.578, z: 44.2969, rotZ: -90.0 },
  { modelId: 1977, name: "vendin3", x: 316.875, y: -140.352, z: 998.586, rotZ: 90.0 },
  { modelId: 1775, name: "CJ_SPRUNK1", x: 2225.2, y: -1153.42, z: 1025.91, rotZ: 90.0 },
  { modelId: 1775, name: "CJ_SPRUNK1", x: 2155.91, y: 1606.77, z: 1000.05, rotZ: -90.0 },
  { modelId: 1775, name: "CJ_SPRUNK1", x: 2576.7, y: -1284.43, z: 1061.09, rotZ: 90.0 },
  { modelId: 1775, name: "CJ_SPRUNK1", x: 2222.2, y: 1606.77, z: 1000.05, rotZ: -90.0 },
  { modelId: 1775, name: "CJ_SPRUNK1", x: -19.0391, y: -57.8359, z: 1003.63, rotZ: 0.0 },
  { modelId: 1775, name: "CJ_SPRUNK1", x: -16.1172, y: -91.6406, z: 1003.63, rotZ: 0.0 },
  { modelId: 1775, name: "CJ_SPRUNK1", x: -32.4453, y: -186.695, z: 1003.63, rotZ: 0.0 },
  { modelId: 1775, name: "CJ_SPRUNK1", x: -35.7266, y: -140.227, z: 1003.63, rotZ: 0.0 },
  { modelId: 1775, name: "CJ_SPRUNK1", x: 495.969, y: -24.3203, z: 1000.73, rotZ: 0.0 },
  { modelId: 1775, name: "CJ_SPRUNK1", x: 501.828, y: -1.42969, z: 1000.73, rotZ: 0.0 },
  { modelId: 1775, name: "CJ_SPRUNK1", x: 373.828, y: -178.141, z: 1000.73, rotZ: 0.0 },
  { modelId: 1776, name: "CJ_CANDYVENDOR", x: 330.68, y: 178.5, z: 1020.07, rotZ: 0.0 },
  { modelId: 1776, name: "CJ_CANDYVENDOR", x: 331.922, y: 178.5, z: 1020.07, rotZ: 0.0 },
  { modelId: 1776, name: "CJ_CANDYVENDOR", x: 350.906, y: 206.086, z: 1008.48, rotZ: -90.0 },
  { modelId: 1776, name: "CJ_CANDYVENDOR", x: 361.562, y: 158.617, z: 1008.48, rotZ: 0.0 },
  { modelId: 1776, name: "CJ_CANDYVENDOR", x: 371.594, y: 178.453, z: 1020.07, rotZ: 0.0 },
  { modelId: 1776, name: "CJ_CANDYVENDOR", x: 374.891, y: 188.977, z: 1008.48, rotZ: 0.0 },
  { modelId: 1776, name: "CJ_CANDYVENDOR", x: 2155.84, y: 1607.88, z: 1000.06, rotZ: -90.0 },
  { modelId: 1776, name: "CJ_CANDYVENDOR", x: 2202.45, y: 1617.01, z: 1000.06, rotZ: 360.0 },
  { modelId: 1776, name: "CJ_CANDYVENDOR", x: 2209.24, y: 1621.21, z: 1000.06, rotZ: 0.0 },
  { modelId: 1776, name: "CJ_CANDYVENDOR", x: 2222.37, y: 1602.64, z: 1000.06, rotZ: -90.0 },
  { modelId: 1776, name: "CJ_CANDYVENDOR", x: -36.1484, y: -57.875, z: 1003.63, rotZ: 360.0 },
  { modelId: 1776, name: "CJ_CANDYVENDOR", x: -17.5469, y: -91.7109, z: 1003.63, rotZ: 360.0 },
  { modelId: 1776, name: "CJ_CANDYVENDOR", x: -16.5312, y: -140.297, z: 1003.63, rotZ: 360.0 },
  { modelId: 1776, name: "CJ_CANDYVENDOR", x: -33.875, y: -186.766, z: 1003.63, rotZ: 360.0 },
  { modelId: 1776, name: "CJ_CANDYVENDOR", x: 500.562, y: -1.36719, z: 1000.73, rotZ: 0.0 },
  { modelId: 1776, name: "CJ_CANDYVENDOR", x: 379.039, y: -178.883, z: 1000.73, rotZ: 90.0 },
  { modelId: 956, name: "CJ_EXT_CANDY", x: 1634.11, y: -2237.53, z: 12.8906, rotZ: 0.0 },
  { modelId: 956, name: "CJ_EXT_CANDY", x: 2480.86, y: -1959.27, z: 12.9609, rotZ: 360.0 },
  { modelId: 956, name: "CJ_EXT_CANDY", x: 2139.52, y: -1161.48, z: 23.3594, rotZ: -90.0 },
  { modelId: 956, name: "CJ_EXT_CANDY", x: 2153.23, y: -1016.15, z: 62.2344, rotZ: 308.132 },
  { modelId: 956, name: "CJ_EXT_CANDY", x: -1350.12, y: 493.859, z: 10.5859, rotZ: -90.0 },
  { modelId: 956, name: "CJ_EXT_CANDY", x: -2229.19, y: 286.414, z: 34.7031, rotZ: 0.0 },
  { modelId: 956, name: "CJ_EXT_CANDY", x: 1659.46, y: 1722.86, z: 10.2188, rotZ: 0.0 },
  { modelId: 956, name: "CJ_EXT_CANDY", x: 2647.7, y: 1129.66, z: 10.2188, rotZ: 0.0 },
  { modelId: 956, name: "CJ_EXT_CANDY", x: 1398.84, y: 2222.61, z: 10.4219, rotZ: 0.0 },
  { modelId: 956, name: "CJ_EXT_CANDY", x: -1455.12, y: 2591.66, z: 55.2344, rotZ: 0.0 },
  { modelId: 956, name: "CJ_EXT_CANDY", x: -76.0312, y: 1227.99, z: 19.125, rotZ: -90.0 },
  { modelId: 956, name: "CJ_EXT_CANDY", x: -253.742, y: 2599.76, z: 62.2422, rotZ: -90.0 },
  { modelId: 956, name: "CJ_EXT_CANDY", x: 662.43, y: -552.164, z: 15.7109, rotZ: 360.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: 1789.21, y: -1369.27, z: 15.1641, rotZ: 90.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: 1729.79, y: -1943.05, z: 12.9453, rotZ: 0.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: 2060.12, y: -1897.64, z: 12.9297, rotZ: 0.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: 1928.73, y: -1772.45, z: 12.9453, rotZ: -90.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: 2325.98, y: -1645.13, z: 14.2109, rotZ: 0.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: 2352.18, y: -1357.16, z: 23.7734, rotZ: -90.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: 1154.73, y: -1460.89, z: 15.1562, rotZ: 90.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: -1350.12, y: 492.289, z: 10.5859, rotZ: -90.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: -2118.97, y: -423.648, z: 34.7266, rotZ: 75.0001 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: -2118.62, y: -422.414, z: 34.7266, rotZ: 75.0001 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: -2097.27, y: -398.336, z: 34.7266, rotZ: 360.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: -2092.09, y: -490.055, z: 34.7266, rotZ: 0.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: -2063.27, y: -490.055, z: 34.7266, rotZ: 0.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: -2005.65, y: -490.055, z: 34.7266, rotZ: 0.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: -2034.46, y: -490.055, z: 34.7266, rotZ: 0.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: -2068.56, y: -398.336, z: 34.7266, rotZ: 360.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: -2039.85, y: -398.336, z: 34.7266, rotZ: 360.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: -2011.14, y: -398.336, z: 34.7266, rotZ: 360.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: -1980.79, y: 142.664, z: 27.0703, rotZ: 90.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: 2319.99, y: 2532.85, z: 10.2188, rotZ: 0.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: 1520.15, y: 1055.27, z: 10.0, rotZ: 90.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: -862.828, y: 1536.61, z: 21.9844, rotZ: 0.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: -14.7031, y: 1175.36, z: 18.9531, rotZ: 0.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: -253.742, y: 2597.95, z: 62.2422, rotZ: -90.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: 201.016, y: -107.617, z: 0.898438, rotZ: 90.0 },
  { modelId: 955, name: "CJ_EXT_SPRUNK", x: 1277.771, y: 372.57, z: 19.5547, rotZ: 244.11 },
  { modelId: 1340, name: "chillidogcart", x: 1589.7, y: -1287.27, z: 17.6406, rotZ: 90.0 },
  { modelId: 1340, name: "chillidogcart", x: 1000.48, y: -1849.04, z: 12.7969, rotZ: 70.0 },
  { modelId: 1340, name: "chillidogcart", x: 388.859, y: -2071.66, z: 7.94531, rotZ: 90.0 },
  { modelId: 1340, name: "chillidogcart", x: -2691.68, y: 384.492, z: 4.48438, rotZ: 45.0 },
  { modelId: 1340, name: "chillidogcart", x: -2146.52, y: -424.773, z: 35.3281, rotZ: 334.564 },
  { modelId: 1340, name: "chillidogcart", x: -2094.23, y: -396.461, z: 35.6562, rotZ: 309.564 },
  { modelId: 1340, name: "chillidogcart", x: -2036.32, y: -396.758, z: 35.6562, rotZ: 279.564 },
  { modelId: 1340, name: "chillidogcart", x: 2537.82, y: 2137.12, z: 10.8594, rotZ: 0.0 },
  { modelId: 1340, name: "chillidogcart", x: 1558.2, y: 979.445, z: 10.9453, rotZ: 0.0 },
  { modelId: 1340, name: "chillidogcart", x: 2144.64, y: 1441.93, z: 10.8516, rotZ: 90.0 },
  { modelId: 1340, name: "chillidogcart", x: -799.781, y: 1624.22, z: 27.125, rotZ: 72.0001 },
  { modelId: 1340, name: "chillidogcart", x: -197.492, y: 2659.91, z: 62.8203, rotZ: 0.0 },
  { modelId: 1340, name: "chillidogcart", x: -2199.99, y: -2386.89, z: 30.7188, rotZ: 19.3753 },
  { modelId: 1341, name: "icescart_prop", x: -2286.54, y: 147.633, z: 35.3203, rotZ: 315.0 },
  { modelId: 1341, name: "icescart_prop", x: -2384.23, y: -584.008, z: 132.109, rotZ: 360.0 },
  { modelId: 1341, name: "icescart_prop", x: 2538.03, y: 2153.7, z: 10.7344, rotZ: 0.0 },
  { modelId: 1341, name: "icescart_prop", x: 2295.71, y: 2250.1, z: 10.7344, rotZ: 0.0 },
  { modelId: 1341, name: "icescart_prop", x: 1030.59, y: 1362.59, z: 10.8125, rotZ: -90.0 },
  { modelId: 1341, name: "icescart_prop", x: 2125.13, y: 1442.08, z: 10.7031, rotZ: -90.0 },
  { modelId: 1341, name: "icescart_prop", x: 2175.09, y: 1523.41, z: 10.7344, rotZ: -90.0 },
  { modelId: 1342, name: "noodlecart_prop", x: -2515.79, y: -15.6172, z: 25.6328, rotZ: 325.0 },
  { modelId: 1342, name: "noodlecart_prop", x: -2151.84, y: -435.562, z: 35.2891, rotZ: 314.564 },
  { modelId: 1342, name: "noodlecart_prop", x: -2193.77, y: 605.188, z: 35.2109, rotZ: 285.0 },
  { modelId: 1342, name: "noodlecart_prop", x: -2194.02, y: 613.406, z: 35.2109, rotZ: 85.0001 },
  { modelId: 1342, name: "noodlecart_prop", x: -2197.59, y: 613.406, z: 35.2109, rotZ: 65.0 },
  { modelId: 1342, name: "noodlecart_prop", x: -2181.48, y: 613.703, z: 35.2109, rotZ: 65.0 },
  { modelId: 1342, name: "noodlecart_prop", x: -2187.15, y: 614.547, z: 35.2109, rotZ: 80.0001 },
  { modelId: 1342, name: "noodlecart_prop", x: 2536.12, y: 2290.85, z: 10.8594, rotZ: 360.0 },
];

// { modelID, name, x, y, z, rotZ }
let luaTable = `local vendingMachines = {`;
vendingMachines.forEach((machine, index) => {
    luaTable += `\n    { modelID = ${machine.modelId}, name = "${machine.name}", x = ${machine.x}, y = ${machine.y}, z = ${machine.z}, rotZ = ${machine.rotZ} }`;
    if (index < vendingMachines.length - 1) {
        luaTable += ',';
    }
});
luaTable += `\n}\n`;


---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'Vending Machines',
    tableOfContents: false,
}}>
    <p>List of San Andreas Vending machine locations (each vending machine is an object):</p>
    <table>
        <thead>
            <tr>
                <th>Model ID</th>
                <th>Model Name</th>
                <th>X</th>
                <th>Y</th>
                <th>Z</th>
                <th>Rot Z</th>
            </tr>
        </thead>
        <tbody>
            {vendingMachines.map(machine => (
                <tr>
                    <td>{machine.modelId}</td>
                    <td>{machine.name}</td>
                    <td>{machine.x}</td>
                    <td>{machine.y}</td>
                    <td>{machine.z}</td>
                    <td>{machine.rotZ}</td>
                </tr>
            ))}
        </tbody>
    </table>

    <section data-pagefind-ignore>
        <p>Above list serialized in Lua:</p>
        <Code code={luaTable} lang="lua" />
    </section>

    <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
        'reference:ID_Lists',
    ])} currentId='' />
</StarlightPage>
