---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getCollection } from 'astro:content';
import fs from "fs";
import path from "path";
import { getSeeAlsoLinksForItem } from '@src/utils/general';
import { getElementCategory, getOOPFunctionsForElement } from '@src/utils/elements';

import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';
import CodeExamplesSection from '@src/components/CodeExamplesSection.astro';
import ElementOOPInfo from '@src/components/ElementOOPInfo.astro';
import EnhancedMarkdown from '@src/components/EnhancedMarkdown.astro';

export async function getStaticPaths() {
  const elements = await getCollection('elements');
  return elements.map(element => ({
    params: { element: element.id },
    props: { element },
  }));
}

const { element } = Astro.props;
element.data.itemType = 'element';
element.data.niceName = element.data.name.charAt(0).toUpperCase() + element.data.name.slice(1);
const elementPath = path.dirname(element.filePath ?? "");

let codeExamples: any[] = element.data.examples || [];
codeExamples = codeExamples.map((example: any) => {
    try {
        const luaCode = fs.readFileSync(path.resolve(`${elementPath}`, example.path), "utf8"); 
        return { ...example, luaCode };
    } catch (error) {
        console.error(`Error reading ${example.path}:`, error);
        return { ...example, luaCode: "Loading example error." };
    }
});

let oop_only_methods = element.data.oop_only_methods || [];
let oop_compatible_functions = getOOPFunctionsForElement(element.data.name);
---
<StarlightPage frontmatter={{
  template: 'doc',
  title: element.id,
  tableOfContents: false,
}}>
  <p><a href="/Element">Element</a> category: <strong>{getElementCategory(element)}</strong></p>

  <EnhancedMarkdown content={element.data.description} />

  <ElementOOPInfo
    element_name={element.data.name}
    oop_only_methods={oop_only_methods}
    oop_compatible_functions={oop_compatible_functions}
  />

  <CodeExamplesSection codeExamples={codeExamples} />

  <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksForItem(element)} currentId={element.id} />
</StarlightPage>

