---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getCollection } from 'astro:content';
import { getFunctionInfo, parseFunctionSyntaxes } from '@src/utils/functions';
import { renderInlineMarkdown, getSeeAlsoLinksForItem } from '@src/utils/general';
import { marked } from 'marked';
import fs from "fs";
import path from "path";
import { Code } from '@astrojs/starlight/components';

import NoteBox from '@src/components/NoteBox.astro';
import '@src/styles/function-page.css';
import type { NotesType } from '@src/utils/types';

import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';
import CodeExamplesSection from '@src/components/CodeExamplesSection.astro';

export async function getStaticPaths() {
    const functions = await getCollection('functions');
    return functions.map(func => ({
        params: { func: func.id },
        props: { func },
    }));
}

const { func } = Astro.props;
func.data.itemType = 'function';

const funcInfo = getFunctionInfo(func.data);
const funcType = funcInfo.type;
const funcPair = funcInfo.pair;
const funcPath = path.dirname(func.filePath ?? "");

// join shared, client and server examples (in func.data) if any
let funcExamples: any[] = [];
if (func.data.shared && func.data.shared.examples) {
    funcExamples = [...funcExamples, ...func.data.shared.examples];
}
if (func.data.client && func.data.client.examples) {
    funcExamples = [...funcExamples, ...func.data.client.examples];
}
if (func.data.server && func.data.server.examples) {
    funcExamples = [...funcExamples, ...func.data.server.examples];
}
funcExamples = funcExamples.map((example: any) => {
    try {
        const luaCode = fs.readFileSync(path.resolve(`${funcPath}`, example.path), "utf8"); 
        return { ...example, luaCode };
    } catch (error) {
        console.error(`Error reading ${example.path}:`, error);
        return { ...example, luaCode: "Loading example error." };
    }
});

let notesContent: NotesType = [];
if (Array.isArray(funcInfo.notes) && funcInfo.notes.length > 0) {
    notesContent = funcInfo.notes;
}

let funcSyntaxes = parseFunctionSyntaxes(func.id, func.data);

---

<div class={"show-type-badge-" + funcType}>
    <StarlightPage frontmatter={{
        template: 'doc',
        title: func.id,
        tableOfContents: false,
    }}>
        <!-- Pair Function Ref -->
        {funcPair && (
            <p><strong>Pair:</strong> <a href={ `/${funcPair}` }>{ funcPair }</a></p>
        )}

        <!-- Description -->
        {funcInfo.description && <Fragment set:html={marked(funcInfo.description)} />}

        <!-- Notes -->
        {notesContent.length > 0 && (
            <div class="notes-section">
                {notesContent.map((note) => (
                    <NoteBox type={note.type}>
                        <Fragment set:html={marked(note.content)} />
                    </NoteBox>
                ))}
            </div>
        )}

        <!-- OOP Syntax -->
        {funcInfo.oop && (
        <>
        <div class="function-oop">
            <h4>OOP Syntax <a class="small-text" href="/OOP_Introduction">Help! I don't understand this!</a></h4>
            <ul>
            {funcInfo.oop.method && (
                <li>
                <strong>Method:</strong>{' '}
                <a href={ `/${funcInfo.oop.entity}` }>{funcInfo.oop.entity}</a>{funcInfo.oop.static ? '.' : ':'}{funcInfo.oop.method}(...)
                </li>
            )}

            {funcInfo.oop.variable && (
                <li>
                <strong>Variable:</strong> .{funcInfo.oop.variable}
                </li>
            )}

            {funcInfo.oop.constructorclass && (
                <li>
                <strong>Constructor:</strong> {funcInfo.oop.constructorclass}(...)
                </li>
            )}

            </ul>
        </div>
        </>
        )}

        <!-- Syntaxes -->
        {funcSyntaxes.length > 0 && funcSyntaxes.map((syntax: any) => (
            <div class="function-syntax">
                {funcType === syntax.type && (
                    <h4>Syntax</h4>
                ) || (
                    <h4>{syntax.type.charAt(0).toUpperCase() + syntax.type.slice(1)} Syntax</h4>
                )}
                <Code code={syntax.syntaxString} lang="c" />
                {syntax.parameters.length > 0 && (
                <>
                    {syntax.parameters.some((param: any) => !param.default) && (
                    <>
                        <h5>Required Arguments</h5>
                        <ul>
                        {syntax.parameters
                            .filter((param: any) => !param.default)
                            .map((param: any) => (
                            <li
                                set:html={`<strong>${param.name}</strong>: ${renderInlineMarkdown(param.description)}`}
                            />
                            ))}
                        </ul>
                    </>
                    )}

                    {syntax.parameters.some((param: any) => param.default) && (
                    <>
                        <h5>Optional Arguments</h5>
                        <ul>
                        {syntax.parameters
                            .filter((param: any) => param.default)
                            .map((param: any) => (
                            <li
                                set:html={
                                    `<strong>${param.name}</strong> (default: <em>${param.default}</em>): ${renderInlineMarkdown(param.description)}`
                                }
                            />
                            ))}
                        </ul>
                    </>
                    )}
                </>
                )}
                {syntax.returns && (
                    <h4>Returns</h4>
                    <ul>
                        {syntax.returns.values.map((ret: any) => (
                            <li set:html={"<strong>" + ret.type + "</strong>: " + renderInlineMarkdown(ret.name)} />
                        ))}
                    </ul>
                    <Fragment set:html={marked(syntax.returns.description)} />
                )}
            </div>
        ))}

        <CodeExamplesSection codeExamples={funcExamples} />

        <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksForItem(func)} currentId={func.id} />
    </StarlightPage>
</div>