---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getSeeAlsoLinksFromList } from '@src/utils/general';
import SeeAlsoSection from '@src/components/SeeAlsoSection.astro';
import { getEventsByCategory, getEventTypePretty } from '@src/utils/events';
const eventsByCategory = getEventsByCategory();
---
<StarlightPage frontmatter={{
    template: 'doc',
    title: 'All events',
    tableOfContents: false,
}}>
    <p>This page lists all <strong>client-side</strong> and <strong>server-side</strong> events available in the <a href="/Lua_API">Lua API</a> organized by category.</p>

    
    {Object.entries(eventsByCategory).map(([category, events]) => (
        <section>
            <details>
                <summary>{category} events</summary>
                <ul>
                    {events.map(event => (
                        <li><a href={`/${event.id}`}>{event.id}</a> (<span class={"side-"+event.data.type}>{getEventTypePretty(event.data.type)}-side</span>)</li>
                    ))}
                </ul>
            </details>
        </section>
    ))}
    

    <SeeAlsoSection seeAlsoLinks={getSeeAlsoLinksFromList([
        'article:Client_Scripting_Events',
        'article:Server_Scripting_Events',
        'article:Scripting_Functions',
        'article:Shared_Scripting_Functions',
        'article:Client_Scripting_Functions',
        'article:Server_Scripting_Functions',
    ])} currentId='' />
</StarlightPage>

<script>
    document.querySelectorAll('.side-type-color').forEach(el => {
        const type = el.textContent || '';
        el.classList.add(`side-${type.toLowerCase()}`);
    });

</script>