---
import { marked } from "marked";
import EnhancedMarkdown from "./EnhancedMarkdown.astro";

const { name } = Astro.props;

const lists: Record<string, { id: number | string; label?: string }[]> = {
    "message-types": [
        { id: 0, label: "normal message" },
        { id: 1, label: "action message (/me)" },
        { id: 2, label: "team message" },
        { id: 3, label: "private message" },
        { id: 4, label: "internal message" },
    ],

    "radio-channels": [
        { id: 0, label: "Radio Off" },
        { id: 1, label: "Playback FM" },
        { id: 2, label: "K-Rose" },
        { id: 3, label: "K-DST" },
        { id: 4, label: "Bounce FM" },
        { id: 5, label: "SF-UR" },
        { id: 6, label: "Radio Los Santos" },
        { id: 7, label: "Radio X" },
        { id: 8, label: "CSR 103.9" },
        { id: 9, label: "K-Jah West" },
        { id: 10, label: "Master Sounds 98.3" },
        { id: 11, label: "WCTR" },
        { id: 12, label: "User Track Player" },
    ],

    "sfx-containers": [
        { id: "feet" },
        { id: "genrl" },
        { id: "pain_a" },
        { id: "script" },
        { id: "spc_ea" },
        { id: "spc_fa" },
        { id: "spc_ga" },
        { id: "spc_na" },
        { id: "spc_pa" },
    ],

    "sound-effects": [
        { id: "gargle" },
        { id: "compressor" },
        { id: "echo" },
        { id: "i3dl2reverb" },
        { id: "distortion" },
        { id: "chorus" },
        { id: "parameq" },
        { id: "reverb" },
        { id: "flanger" },
    ],

    "sound-meta-tags": [
        { id: "title" },
        { id: "artist" },
        { id: "album" },
        { id: "genre" },
        { id: "year" },
        { id: "comment" },
        { id: "track" },
        { id: "composer" },
        { id: "copyright" },
        { id: "subtitle" },
        { id: "album_artist" },
        { id: "stream_name" },
        { id: "stream_title" },
    ],

    "frontend-sounds": [
        { id: "0 - 20", label: "Selection sounds" },
        { id: "27 - 30", label: "Bullet sounds" },
        { id: "32 - 33", label: "Selection sounds" },
        { id: "34", label: "Radio static" },
        { id: "35", label: "Stop Radio static" },
        { id: "37 - 38", label: "Tick" },
        { id: "40", label: "Selection sounds" },
        { id: "41 - 42", label: "Tick (no ammo)" },
        { id: "43 - 45", label: "Race countdown" },
        { id: "46", label: "Repair" },
        { id: "47", label: "White noise static" },
        { id: "48", label: "Stop White noise static" },
        { id: "49", label: "Static short" },
        { id: "101", label: "Countdown/selection" },
    ],

    "browser-properties": [
        { id: "mobile", label: "Surfing the web as mobile" },
    ],

    "browser-settings": [
        {
            id: "RemoteEnabled",
            label: "true if remote websites are enabled, false otherwise",
        },
        {
            id: "RemoteJavascript",
            label: "true if Javascript is enabled on remote websites, false otherwise",
        },
        {
            id: "PluginsEnabled",
            label: "true if plugins such as Flash, Silverlight (but not Java) are enabled, false otherwise. This setting is false by default.",
        },
    ],

    "utf8Formatting": [
        { id: "%ddd", label: "ddd is a decimal number with variable length." },
        { id: "%{ddd}", label: "same as above, but enclosed in brackets." },
        { id: "%uddd", label: "same as **%ddd**, 'u' stands for unicode." },
        { id: "%u{ddd}", label: "same as above, but enclosed in brackets." },
        { id: "%xhhh", label: "hexadigit version of <b>%ddd</b>." },
        { id: "%x{hhh}", label: "same as above, but enclosed in brackets." },
        { id: "%?", label: "'?' stands for any other character to be escaped."},
    ],

    "utf8CaseIndicators": [
        {id: "-1", label: "<code>a < b</code>"},
        {id: "0", label: "<code>a == b</code>"},
        {id: "1", label: "<code>a > b</code>"},
    ],

    "cameraFOVModes": [
        {id: "player", label: "whilst walking/running"},
        {id: "vehicle", label: "whilst in vehicle"},
        {id: "vehicle_max", label: "the max the field of view can go to when the vehicle is moving at a high speed (must be higher than \"vehicle\")"},
    ],

    "cameraGoggleEffects": [
        {id: "normal", label: "No camera goggle effect"},
        {id: "nightvision", label: "Nightvision camera"},
        {id: "thermalvision", label: "Infrared camera"},
    ],

    "vehicleCameraViewModes": [
        {id: 0, label: "Bumper"},
        {id: 1, label: "Close external"},
        {id: 2, label: "Middle external"},
        {id: 3, label: "Far external"},
        {id: 4, label: "Low external"},
        {id: 5, label: "Cinematic"},
    ],

    "pedCameraViewModes": [
        {id: 0, label: "Close"},
        {id: 1, label: "Middle"},
        {id: 2, label: "Far"},
    ]
};

const icons: Record<string, string> = {
    "message-types": "💬",
    "radio-channels": "📻",
};

const items = lists[name] || [];
const icon = icons[name] || "●";
---

{
    items.length > 0 && (
        <ul class="template-list" style={`--icon: "${icon}"`}>
            {items.map((item) => (
                <li>
                    <strong>{item.id}</strong>
                    {item.label && (
                        <span set:html={marked.parseInline(`: ${item.label}`)} />
                    )}
                </li>
            ))}
        </ul>
    )
}

<style>
    .template-list {
        list-style: none;
        font-style: italic;
        border: 1px solid var(--sl-color-white);
        padding-left: 0;
    }

    .template-list li::before {
        content: var(--icon, "●");
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    :root[data-theme="light"] .template-list li::before {
        filter: brightness(1.1) drop-shadow(0 0 1px black);
    }

    :root[data-theme="dark"] .template-list li::before {
        filter: brightness(0.8) drop-shadow(0 0 1px white);
    }
</style>
