---
import { marked } from "marked";
import EnhancedMarkdown from "./EnhancedMarkdown.astro";

const { name } = Astro.props;

const lists: Record<string, { id: number | string; label?: string }[]> = {
    "message-types": [
        { id: 0, label: "normal message" },
        { id: 1, label: "action message (/me)" },
        { id: 2, label: "team message" },
        { id: 3, label: "private message" },
        { id: 4, label: "internal message" },
    ],

    "radio-channels": [
        { id: 0, label: "Radio Off" },
        { id: 1, label: "Playback FM" },
        { id: 2, label: "K-Rose" },
        { id: 3, label: "K-DST" },
        { id: 4, label: "Bounce FM" },
        { id: 5, label: "SF-UR" },
        { id: 6, label: "Radio Los Santos" },
        { id: 7, label: "Radio X" },
        { id: 8, label: "CSR 103.9" },
        { id: 9, label: "K-Jah West" },
        { id: 10, label: "Master Sounds 98.3" },
        { id: 11, label: "WCTR" },
        { id: 12, label: "User Track Player" },
    ],

    "sfx-containers": [
        { id: "feet" },
        { id: "genrl" },
        { id: "pain_a" },
        { id: "script" },
        { id: "spc_ea" },
        { id: "spc_fa" },
        { id: "spc_ga" },
        { id: "spc_na" },
        { id: "spc_pa" },
    ],

    "sound-effects": [
        { id: "gargle" },
        { id: "compressor" },
        { id: "echo" },
        { id: "i3dl2reverb" },
        { id: "distortion" },
        { id: "chorus" },
        { id: "parameq" },
        { id: "reverb" },
        { id: "flanger" },
    ],

    "sound-meta-tags": [
        { id: "title" },
        { id: "artist" },
        { id: "album" },
        { id: "genre" },
        { id: "year" },
        { id: "comment" },
        { id: "track" },
        { id: "composer" },
        { id: "copyright" },
        { id: "subtitle" },
        { id: "album_artist" },
        { id: "stream_name" },
        { id: "stream_title" },
    ],

    "frontend-sounds": [
        { id: "0 - 20", label: "Selection sounds" },
        { id: "27 - 30", label: "Bullet sounds" },
        { id: "32 - 33", label: "Selection sounds" },
        { id: "34", label: "Radio static" },
        { id: "35", label: "Stop Radio static" },
        { id: "37 - 38", label: "Tick" },
        { id: "40", label: "Selection sounds" },
        { id: "41 - 42", label: "Tick (no ammo)" },
        { id: "43 - 45", label: "Race countdown" },
        { id: "46", label: "Repair" },
        { id: "47", label: "White noise static" },
        { id: "48", label: "Stop White noise static" },
        { id: "49", label: "Static short" },
        { id: "101", label: "Countdown/selection" },
    ],

    "browser-properties": [
        { id: "mobile", label: "Surfing the web as mobile" },
    ],

    "browser-settings": [
        {
            id: "RemoteEnabled",
            label: "true if remote websites are enabled, false otherwise",
        },
        {
            id: "RemoteJavascript",
            label: "true if Javascript is enabled on remote websites, false otherwise",
        },
        {
            id: "PluginsEnabled",
            label: "true if plugins such as Flash, Silverlight (but not Java) are enabled, false otherwise. This setting is false by default.",
        },
    ],

    "utf8Formatting": [
        { id: "%ddd", label: "ddd is a decimal number with variable length." },
        { id: "%{ddd}", label: "same as above, but enclosed in brackets." },
        { id: "%uddd", label: "same as **%ddd**, 'u' stands for unicode." },
        { id: "%u{ddd}", label: "same as above, but enclosed in brackets." },
        { id: "%xhhh", label: "hexadigit version of <b>%ddd</b>." },
        { id: "%x{hhh}", label: "same as above, but enclosed in brackets." },
        { id: "%?", label: "'?' stands for any other character to be escaped."},
    ],

    "utf8CaseIndicators": [
        {id: "-1", label: "<code>a < b</code>"},
        {id: "0", label: "<code>a == b</code>"},
        {id: "1", label: "<code>a > b</code>"},
    ],

    "cameraFOVModes": [
        {id: "player", label: "whilst walking/running"},
        {id: "vehicle", label: "whilst in vehicle"},
        {id: "vehicle_max", label: "the max the field of view can go to when the vehicle is moving at a high speed (must be higher than \"vehicle\")"},
    ],

    "cameraGoggleEffects": [
        {id: "normal", label: "No camera goggle effect"},
        {id: "nightvision", label: "Nightvision camera"},
        {id: "thermalvision", label: "Infrared camera"},
    ],

    "vehicleCameraViewModes": [
        {id: 0, label: "Bumper"},
        {id: 1, label: "Close external"},
        {id: 2, label: "Middle external"},
        {id: 3, label: "Far external"},
        {id: 4, label: "Low external"},
        {id: 5, label: "Cinematic"},
    ],

    "pedCameraViewModes": [
        {id: 0, label: "Close"},
        {id: 1, label: "Middle"},
        {id: 2, label: "Far"},
    ],

    "bodyParts": [
        {id: 3, label: "Torso"},
        {id: 4, label: "Ass"},
        {id: 5, label: "Left Arm"},
        {id: 6, label: "Right Arm"},
        {id: 7, label: "Left Leg"},
        {id: 8, label: "Right Leg"},
        {id: 9, label: "Head"},
    ],

    "clothingTypes": [
        {id: 0, label: "SHIRT"},
        {id: 1, label: "HEAD"},
        {id: 2, label: "TROUSERS"},
        {id: 3, label: "SHOES"},
        {id: 4, label: "TATTOOS_LEFT_UPPER_ARM"},
        {id: 5, label: "TATTOOS_LEFT_LOWER_ARM"},
        {id: 6, label: "TATTOOS_RIGHT_UPPER_ARM"},
        {id: 7, label: "TATTOOS_RIGHT_LOWER_ARM"},
        {id: 8, label: "TATTOOS_BACK"},
        {id: 9, label: "TATTOOS_LEFT_CHEST"},
        {id: 10, label: "TATTOOS_RIGHT_CHEST"},
        {id: 11, label: "TATTOOS_STOMACH"},
        {id: 12, label: "TATTOOS_LOWER_BACK"},
        {id: 13, label: "NECKLACE"},
        {id: 14, label: "WATCH"},
        {id: 15, label: "GLASSES"},
        {id: 16, label: "HAT"},
        {id: 17, label: "EXTRA"},
    ],

    'colshapeTypes': [
        {id: 0, label: "circle"},
        {id: 1, label: "cuboid"},
        {id: 2, label: "sphere"},
        {id: 3, label: "rectangle"},
        {id: 4, label: "polygon"},
        {id: 5, label: "tube"},
    ],

    'pixels-format': [
        {id: 'plain', label: ''},
        {id: 'png', label: ''},
        {id: 'jpeg', label: ''},
    ],

    'pixels-format_with_dds': [
        {id: 'plain', label: ''},
        {id: 'png', label: ''},
        {id: 'jpeg', label: ''},
        {id: 'dds', label: ''},
    ],

    'dxFont-quality': [
        {id: "default", label: "not the actual default."},
        {id: "draft", label: ""},
        {id: "proof", label: "the default."},
        {id: "nonantialiased", label: ""},
        {id: "antialiased", label: ""},
        {id: "cleartype", label: ""},
        {id: "cleartype_natural", label: ""},
    ],

    'texture-formats': [
        {id: 'argb', label: 'RGB uncompressed 32 bit color (default).'},
        {id: 'rgb', label: 'RGB uncompressed 16-bit RGB color format. Uses 5 bits for red, 6 bits for green, and 5 bits for blue.'},
        {id: 'xrgb', label: 'RGB Uncompressed 32-bit RGB color format without alpha. Each pixel uses 8 bits for red, green, and blue. The highest 8 bits are unused (padding) and should be ignored.'},
        {id: 'dxt1', label: 'DXT1 compressed - Can take a fraction of a second longer to load (unless the file is already a DXT1 .dds). Uses 8 times less video memory than ARGB and **can speed up drawing**. Quality not as good as ARGB. **It supports alpha blending, but it can only be on or off, that is: either 0 or 255**.'},
        {id: 'dxt3', label: 'DXT3 compressed - Can take a fraction of a second longer to load (unless the file is already a DXT3 .dds). Uses 4 times less video memory than ARGB and **can speed up drawing**. Quality slightly better than DXT1 and supports crisp alpha blending.'},
        {id: 'dxt5', label: 'DXT5 compressed - Can take a fraction of a second longer to load (unless the file is already a DXT5 .dds). Uses 4 times less video memory than ARGB and **can speed up drawing**. Quality slightly better than DXT1 and supports smooth alpha blending.'},
        {id: 'intz', label: 'Depth-stencil texture format used for sampling depth buffers in shaders.'},
        {id: 'df24', label: '24-bit depth buffer format with optional stencil support, exposed as a texture.'},
        {id: 'df16', label: '16-bit depth buffer format exposed as a texture.'},
        {id: 'rawz', label: 'Raw depth texture format providing direct access to depth buffer values.'},
    ],

    'texture-edges': [
        {id: 'wrap', label: 'Wrap the texture at the edges (default).'},
        {id: 'clamp', label: 'Clamp the texture at the edges. This may help avoid edge artifacts.'},
        {id: 'mirror', label: 'Mirror the texture at the edges.'},
        {id: 'border', label: ''},
        {id: 'mirror-once', label: ''},
    ],

    'texture-types': [
        {id: '2d', label: 'Standard texture (default).'},
        {id: '3d', label: 'Volume texture.'},
        {id: 'cube', label: 'Cube map.'},
    ],

    'line-drawing-stages': [
        {id: 'prefx', label: 'Lines are rendered before the color correction. This stage makes lines look natural to SA but colors could be distorted.'},
        {id: 'postfx', label: 'Lines are rendered after the color correction. This stage conveys a color from the function to a screen without distortions.'},
        {id: 'postgui', label: 'Lines are rendered after GUI. The line should be drawn on top of or behind any ingame GUI (rendered by CEGUI).'}
    ],

    'primitive-drawing-stages': [
        {id: 'prefx', label: 'Primitives are rendered before the color correction. This stage makes lines look natural to SA but colors could be distorted.'},
        {id: 'postfx', label: 'Primitives are rendered after the color correction. This stage conveys a color from the function to a screen without distortions.'},
        {id: 'postgui', label: 'Primitives are rendered after GUI. The line should be drawn on top of or behind any ingame GUI (rendered by CEGUI).'}
    ],

    'primitives': [
        {id: 'pointlist', label: 'Renders the vertices as a collection of isolated points.'},
        {id: 'linelist', label: 'Renders the vertices as a list of isolated straight line segments.'},
        {id: 'linestrip', label: 'Renders the vertices as a single polyline.'},
        {id: 'trianglelist', label: 'Renders the specified vertices as a sequence of isolated triangles. Each group of three vertices defines a separate triangle.'},
        {id: 'trianglestrip', label: 'Renders the vertices as a triangle strip.'},
        {id: 'trianglefan', label: 'Renders the vertices as a triangle fan.'},
    ],

    'dx-fonts': [
        {id: 'default', label: 'Tahoma'},
        {id: 'default-bold', label: 'Tahoma Bold'},
        {id: 'clear', label: 'Verdana'},
        {id: 'arial', label: 'Arial'},
        {id: 'sans', label: 'Microsoft Sans Serif'},
        {id: 'pricedown', label: 'Pricedown (GTA\'s theme text)'},
        {id: 'bankgothic', label: 'Bank Gothic Medium'},
        {id: 'diploma', label: 'Diploma Regular'},
        {id: 'beckett', label: 'Beckett Regular'},
        {id: 'unifont', label: 'Unifont'},
    ],

    'dx-blend-modes': [
        {id: 'blend', label: 'The source textures are alpha blended to the screen/render target. This is the default mode for drawing and gives the results we all know and love.'},
        {id: 'add', label: 'The source textures are added to the screen/render target.'},
        {id: 'modulate_add', label: 'The source textures are multiplied by the alpha and then added to the screen/render target.'},
        {id: 'overwrite', label: 'The source textures are overwritten. This can be useful for clearing render targets.'},
    ],

    'dx-status': [
        {id: 'TestMode', label: 'The current dx test mode. See [[dxSetTestMode]].'},
        {id: 'VideoCardName', label: 'The name of the graphics card.'},
        {id: 'VideoCardRAM', label: 'The installed memory in MB of the graphics card.'},
        {id: 'VideoCardPSVersion', label: 'The maximum pixel shader version of the graphics card.'},
        {id: 'VideoCardMaxAnisotropy', label: 'The maximum anisotropic filtering available. (0-4 which respectively mean: off, 2x, 4x, 8x, 16x).'},
        {id: 'VideoCardNumRenderTargets', label: 'The maximum number of simultaneous render targets a shader can use.'},
        {id: 'VideoMemoryFreeForMTA', label: 'The amount of memory in MB available for MTA to use. **When this gets zero, creation functions like [dxCreateFont](/reference/dxCreateFont), [dxCreateTexture](/reference/dxCreateTexture), [guiCreateFont](/reference/guiCreateFont) etc. will fail.**'},
        {id: 'VideoMemoryUsedByFonts', label: 'The amount of graphic memory in MB used by custom fonts.'},
        {id: 'VideoMemoryUsedByTextures', label: 'The amount of graphic memory in MB used by textures.'},
        {id: 'VideoMemoryUsedByRenderTargets', label: 'The amount of graphic memory in MB used by render targets.'},
        {id: 'SettingWindowed', label: 'The windowed setting. (true/false).'},
        {id: 'SettingFullScreenStyle', label: 'Display style when in full screen mode. (0-2 which respectively mean: Standard, Borderless window, Borderless keep res).'},
        {id: 'SettingFXQuality', label: 'The FX Quality. (0-3).'},
        {id: 'SettingDrawDistance', label: 'The draw distance setting. (0-100).'},
        {id: 'SettingVolumetricShadows', label: 'The volumetric shadows setting. (true/false).'},
        {id: 'SettingStreamingVideoMemoryForGTA', label: 'The usable graphics memory setting. (64-256).'},
        {id: 'SettingAnisotropicFiltering', label: 'The anisotropic filtering setting. (0-4 which respectively mean: off, 2x, 4x, 8x, 16x).'},
        {id: 'SettingAntiAliasing', label: 'The anti-aliasing setting. (0-3 which respectively mean: off, 1x, 2x, 3x).'},
        {id: 'SettingHeatHaze', label: 'The heat haze setting. (true/false).'},
        {id: 'SettingGrassEffect', label: 'The grass effect setting. (true/false).'},
        {id: 'Setting32BitColor', label: 'The color depth of the screen. (false is 16bit, true is 32bit).'},
        {id: 'SettingHUDMatchAspectRatio', label: 'The hud match aspect ratio setting. (true/false).'},
        {id: 'SettingAspectRatio', label: 'The aspect ratio setting. ("auto", "4:3", "16:10", "16:9").'},
        {id: 'SettingFOV', label: 'The FOV setting.'},
        {id: 'SettingHighDetailVehicles', label: 'High detail vehicles setting. (true/false).'},
        {id: 'SettingHighDetailPeds', label: 'High detail peds setting. (true/false).'},
        {id: 'SettingCoronaReflections', label: 'Corona rain reflections setting. (true/false).'},
        {id: 'SettingDynamicPedShadows', label: 'Dynamic ped shadows setting. (true/false).'},
        {id: 'AllowScreenUpload', label: 'The allows screen uploads setting. (true/false).'},
        {id: 'DepthBufferFormat', label: 'The format of the shader readable depth buffer, or "unknown" if not available.'},
        {id: 'TotalPhysicalMemory', label: 'The amount of total physical memory in MB.'},
        {id: 'UsingDepthBuffer', label: 'true if the depth buffer is used, false otherwise.'},
        {id: 'SettingDebugMode', label: 'Selected option in `Settings -> Advanced tab -> Debug setting` ("Default", "#6734 Graphics", "#6732 D3D", "#0000 Log timing", "#0000 Joystick", "#0000 Lua trace", "#0000 Resize always", "#0000 Resize never").'},
    ],

    'dx-test-modes': [
        {id: 'none', label: 'Test mode disabled.'},
        {id: 'no_mem', label: 'Simulate no free video memory available for MTA.'},
        {id: 'low_mem', label: 'Simulate little free video memory available for MTA.'},
        {id: 'no_shader', label: 'Simulate shaders failing validation.'},
    ],

    'rotation-orders': [
        {id: 'default', label: 'Default MTA behavior prior to 1.1, where rotation order depends on element type.'},
        {id: 'ZXY', label: 'Rotation about the Z axis (up), then about the resulting X axis (right) and finally about the resulting Y axis (front). This is the default rotation order for **objects**.'},
        {id: 'ZYX', label: 'Rotation about the Z axis (up), then about the resulting Y axis (front), and finally about the resulting X axis (right). This is the default rotation order for **vehicles**.'},
    ],

    'elementdata-sync-modes': [
        {id: 'broadcast', label: 'Synchronize to all clients (default behavior). You can also parse **true** for this option.'},
        {id: 'local', label: "Don't synchronize. You can also parse **false** for this option."},
        {id: 'subscribe', label: 'Only synchronize to specific clients. See [addElementDataSubscriber](/reference/addElementDataSubscriber) and [removeElementDataSubscriber](/reference/removeElementDataSubscriber).'},
    ],

    'elementdata-client-changes-policies': [
        {id: 'default', label: 'Use `elementdata_whitelisted` setting from [mtaserver.conf](/reference/Server_mtaserver.conf#elementdata_whitelisted).'},
        {id: 'allow', label: 'Trust changes from clients.'},
        {id: 'deny', label: 'Deny client changes. The server will trigger the [onPlayerChangesProtectedData](/reference/onPlayerChangesProtectedData) event when the client attempts to change the value.'},
    ]
};

const icons: Record<string, string> = {
    "message-types": "💬",
    "radio-channels": "📻",
};

const items = lists[name] || [];
const icon = icons[name] || "●";
---

{
    items.length > 0 && (
        <ul class="template-list" style={`--icon: "${icon}"`}>
            {items.map((item) => (
                <li>
                    <strong>{item.id}</strong>
                    {item.label && (
                        <span set:html={marked.parseInline(`: ${item.label}`)} />
                    )}
                </li>
            ))}
        </ul>
    )
}

<style>
    .template-list {
        list-style: none;
        font-style: italic;
        border: 1px solid var(--sl-color-white);
        padding-left: 0;
    }

    .template-list li::before {
        content: var(--icon, "●");
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    :root[data-theme="light"] .template-list li::before {
        filter: brightness(1.1) drop-shadow(0 0 1px black);
    }

    :root[data-theme="dark"] .template-list li::before {
        filter: brightness(0.8) drop-shadow(0 0 1px white);
    }
</style>
